#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.infrastructure.exam.repo.mapper.ExamMapper">
    <resultMap id="ExamResultMap" type="${package}.infrastructure.exam.repo.po.ExamPo">
        <id column="id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="title" property="title"/>
        <result column="starts_at" property="startsAt"/>
        <result column="ends_at" property="endsAt"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
</mapper>
