global
  log stdout format raw local0

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 3s
  timeout client 30s
  timeout server 30s

frontend ddc_admin
  bind *:18070
  default_backend ddc_admin_nodes

backend ddc_admin_nodes
  balance roundrobin
  option tcp-check
  server ddc-admin-1 ddc-admin:18080 check
  server ddc-admin-2 ddc-admin-2:18080 check

frontend gateway_admin
  bind *:18080
  default_backend gateway_admin_nodes

backend gateway_admin_nodes
  balance roundrobin
  option tcp-check
  server gateway-admin-1 gateway-admin:18080 check
  server gateway-admin-2 gateway-admin-2:18080 check
