<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.infrastructure.user.repo.mapper.PermissionMapper">
    <resultMap id="PermissionResultMap" type="${package}.infrastructure.user.repo.po.PermissionPO">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="selectByCode" resultMap="PermissionResultMap">
        SELECT id, code, name, type, status, created_at
        FROM permissions
        WHERE code = #{code}
    </select>

    <select id="selectPermissionsByIds" resultMap="PermissionResultMap">
        SELECT id, code, name, type, status, created_at
        FROM permissions
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY code ASC
    </select>
</mapper>
