<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.infrastructure.user.repo.mapper.RoleMapper">
    <resultMap id="RoleResultMap" type="${package}.infrastructure.user.repo.po.RolePO">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="selectByCode" resultMap="RoleResultMap">
        SELECT id, code, name, status, created_at
        FROM roles
        WHERE code = #{code}
    </select>
</mapper>
