COMPOSE_PROJECT_NAME=${artifactId}
REGISTRY=
REGISTRY_NAMESPACE=
IMAGE_NAME=${artifactId}
IMAGE_TAG=
APPLICATION_PORT=8080
DUBBO_PORT=50051
APP_MEMORY_LIMIT=1g
APP_CPUS=1.0

POSTGRES_IMAGE=postgres:17-alpine
POSTGRES_DB=student_management
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_IMAGE=redis:7.4-alpine
REDIS_PASSWORD=

RABBITMQ_IMAGE=rabbitmq:4-management
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

NACOS_IMAGE=nacos/nacos-server:v2.5.1
NACOS_USERNAME=
NACOS_PASSWORD=
NACOS_NAMESPACE=prod
NACOS_AUTH_ENABLE=true
NACOS_AUTH_TOKEN=
NACOS_AUTH_IDENTITY_KEY=
NACOS_AUTH_IDENTITY_VALUE=

EXTERNAL_HTTP_ENABLED=false
USER_SERVICE_BASE_URL=
TEACHING_SERVICE_BASE_URL=
