global
  log stdout format raw local0

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 3s
  timeout client 30s
  timeout server 30s

frontend ddc_admin
  bind *:18070
  default_backend ddc_admin_nodes

backend ddc_admin_nodes
  balance roundrobin
  option tcp-check
  server tianshu-admin-1 tianshu-admin:18080 check
  server tianshu-admin-2 tianshu-admin-2:18080 check

frontend ddc_rpc
  bind *:19080
  default_backend ddc_rpc_nodes

backend ddc_rpc_nodes
  balance roundrobin
  option tcp-check
  server tianshu-admin-1 tianshu-admin:19080 check
  server tianshu-admin-2 tianshu-admin-2:19080 check

frontend gateway_admin
  bind *:18080
  default_backend gateway_admin_nodes

backend gateway_admin_nodes
  balance roundrobin
  option tcp-check
  server yuheng-admin-1 yuheng-admin:18080 check
  server yuheng-admin-2 yuheng-admin-2:18080 check
